= form_for @period, :url => @period.new_record? ? periods_path(budget) : period_path(budget, @period) do |f|
  = f.error_messages
  .fieldSet.u-margin
    .fieldSet__field
      .fieldSet__label= f.label :name
      .fieldSet__input= f.text_field :name, :class => 'fieldSet__inputField', :autofocus => true, :required => true
    .fieldSet__group.clearfix
      .fieldSet__field
        .fieldSet__label= f.label :starts_on
        .fieldSet__input= f.text_field :starts_on, :class => 'fieldSet__inputField js-datepicker', :required => true, :disabled => @period.persisted?
      .fieldSet__field
        .fieldSet__label= f.label :length_in_months
        .fieldSet__input= f.text_field :length_in_months, :class => 'fieldSet__inputField', :placeholder => 12, :disabled => @period.persisted?

  .paperPage__footer.buttonSet
    - if @period.persisted?
      %span.u-float-right= link_to "Delete", period_path(budget, @period), :class => 'button button--red', :method => :delete, :data => {:confirm => "Are you sure you want to delete this period and all data within it?"}
    = f.submit "Save Period", :class => 'button button--green'
    = link_to "Cancel", periods_path(budget), :class => "button"

